/* 
    Document   : style
    Created on : 01-May-2013, 15:49:52
    Author     : losses
    Description:
        Style of emoji!
*/

/*关于页面*/
#icon{
    width:100px;
    margin:0 auto;
}
#icon img{
    width:100px;
    height:100px;
}
h1{
    font-size:20px;
    display:block;
    text-align:center;
}
#description{
    color:#5c5c5c;
    font-size:10px;
    display:block;
    text-align:center;
}
#developer{
    margin-top:30px;
}
.avatar{
    width:80px;
    height:80px;
    display: block;
    border-radius:100px;
    overflow: hidden;
    float:left;
}
.avatar img{
    width:80px;
    height:80px;
}
.information{
    float:left;
    margin:0 20px;
}
.information a{
    display:block;
}
.name{
    font-weight:bolder;
    font-size:15px;
    text-align:left;
}
.work{
    font-size:11px;
    color:#5c5c5c;
}
.Email{
    font-size:12px;
}
.website{
    font-size:12px;
}
.clear{
    clear:both;
}
.namecard{
    width:300px;
    margin:20px auto;
}